.NavBar {
  background-color: #000;
  background-image: url("https://res.cloudinary.com/djlm3llv5/image/upload/v1686564919/rid9oiz4tbi42rqrjkgk.webp");
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid #dadadf; */
  color: #fff;
}

.NavLink {
  padding: 5px;
  color: #fff;
}

.NavDropdownContainer > div {
  padding: 0px;
  border: 0px;
  margin: 0px auto;
}

.NavDropdown {
  background-color: #000;
  background-image: url("https://res.cloudinary.com/djlm3llv5/image/upload/v1686564919/rid9oiz4tbi42rqrjkgk.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  border: 0px;
  margin: 0px auto;
  color: #fff;
  min-width: 20vw;
}

.Active i {
  color: #21ca89;
}

.Navbar > .Toggler {
  color: #fff;
}


@media screen and (max-width: 780px)  {
  .NavDropdown {
    background-image: none;
    background-color: transparent;
    text-align: left;
    padding: 0px;
    border: 0px;
    margin: 0px;
  }

}

@media screen and (max-width: 350px)  {
  .SmallDevice {
    font-size: 1.25rem;
  }
}